<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span style="color:red">{{result}}</span>
    <h2>Delete Product</h2>
    <form action="delete_product_info" method="get">
        <label>PId</label>
        <input type="number" name="pid"/><br/>
        
        <input type="submit" value="Delete Product"/>
        <input type="reset" value="reset"/>

    </form>
    <a href="/product_app">Back</a>
</body>
</html>