
{% extends 'base.html' %}

{% block content%}
    <h3>Course Info</h3>
    <h4>Welcomer user {{name}}, 
        I am {{desg}}</h4>
    <p>{{tech}}</p>
    <h4>Technologies </h4>
    <ol>
        {% for t in tech %}
            <li>{{t}}</li>
        {% endfor %}
    </ol>
    <br/>
    <h4>Course Details</h4>
    <table border="1">
            <tr>
                <th>CId</th>
                <th>Name</th>
            </tr>
            {% for course in course_info%}
               <tr>
                <td>{{course.cid}}</td>
                <td>{{course.cname}}</td>
               </tr> 

            {% endfor %}
    </table>

    {% endblock%}
